.btn
  box-sizing  border-box
  font-size 16px
  text-align center
  border none
  color $cWhite
  cursor pointer
  transition all 0.2s ease-in-out
  border-radius 10px
  padding 16px 33px
  outline none
  display inline-block

  &:focus
    box-shadow 0 0 3px $cBlue
    background $cBlue + #111111

  &_blue
    background $cBlue

    &:hover
      background $cBlue + #111111