block vars

header.header
    .width-wrap.text-center
        button.header__hamburger.js--toggle-menu
            div

        nav.header__nav
            ul
                li
                    a(href="#info").js--page-scroll Личная информация
                li
                    a(href="#expirience").js--page-scroll Опыт
                li
                    a(href="#js").js--page-scroll JavaScript
                li
                    a(href="#about").js--page-scroll О&nbsp;себе