@import 'partials/color';
@import 'partials/responsive';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/text';

// UI
@import 'ui/btn';
@import 'ui/form';
@import 'ui/input';

// blocks
@import 'blocks/header';

//pages
@import 'pages/pageIndex';

// vendor
@import '../../../../vendor/vendor_style/styler';
@import '../../../../vendor/vendor_style/nouislider';
@import '../../../../vendor/vendor_style/mCustomScrollbar';